* {
  margin: 0;
}

html,
body {
  background-color: rgb(186, 182, 182);
}

main {
  height: 100%;
}

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  border-bottom: 3px solid rgb(13, 13, 13);
  background-color: rgb(243, 226, 157);
}
.cart-button {
  float: right;
}

.beer img {
  height: 100px;
  object-fit: contain;
  transition: transform 300ms;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding: 1rem;
}

.beer {
  border: 1px solid black;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 300ms;
}

.load-more {
  margin-left: 1rem;
}

.beer:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgb(243, 226, 157);
}
.beer img:hover {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.black-button {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  margin-top: 8px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}

.clear-cart-button {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
}

.purchase-cart-button {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  float: right;
}

.cart-button {
  background-color: white;
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border: none;
}

button:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  background-color: black;
}

h1 {
  font-size: 60px;
  color: black;
  padding-top: 40px;
}
.price {
  margin-top: auto;
  font-size: 25px;
}
.bx {
  float: right;
  font-size: 50px;
}
.bx-cart-add {
  background-color: rgb(243, 226, 157);
}
.bx-cart-add::before {
  font-size: 40px;
  color: white;
}
