* {
  margin: 0;
}

html,
body {
  background-color: rgb(36, 35, 35);
}

main {
  height: 100%;
}

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  border-bottom: 3px solid rgb(13, 13, 13);
  box-shadow: 0 0 20px red;
  background-color: rgb(60, 60, 60);
  color: rgb(219, 4, 4);
  font-style: oblique;
}
.cart-button {
  float: right;
}

.beer img {
  height: 100px;
  object-fit: contain;
  transition: transform 300ms;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding: 1rem;
}

.beer {
  border: 1px solid rgb(160, 4, 35);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.462);
  color: white;
  background-color: rgb(60, 60, 60);
  padding: 1rem;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 300ms, background-color 300ms;
  border-radius: 1rem;
}

.beer:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  background-color: rgb(50, 49, 49);
}
.beer img:hover {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.red-button {
  background-color: rgba(255, 0, 51, 0.932);
  color: white;
  margin-left: 5rem;
  border-radius: 1rem;
}

.clear-cart-button {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  border-radius: 1rem;
}

.purchase-cart-button {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  float: right;
  border-radius: 1rem;
}
.purchase-cart-button:hover {
  background-color: green;
}

.cart-button {
  background-color: white;
  color: rgba(255, 0, 51, 0.842);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border: none;
}

button:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  background-color: red;
}

h1 {
  font-size: 60px;
  padding-top: 40px;
}
.price {
  margin-top: auto;
  font-size: 25px;
}
.bx {
  float: right;
  font-size: 50px;
}
.bx-cart-add {
  background-color: rgba(255, 0, 51, 0.932);
  border-radius: 1rem;
}
.bx-cart-add::before {
  font-size: 40px;
  color: white;
}
.bx-cart::before {
  font-size: 40px;
  color: white;
  padding: 1rem;
  margin-right: 2rem;
}
.age {
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: white;
  margin-left: 65px;
  margin-top: 20px;
}
.age input {
  max-width: 200px;
}
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-left: 1rem;
}

a#topbtn {
  background-color: rgba(255, 0, 51, 0.959);
  color: white;
  padding: 2px;
  margin-right: 5rem;
  border: 2px solid black;
}
.offcanvas-body {
  background-color: rgba(0, 0, 0, 0.33);
  box-shadow: 0 0 20px red;
}
.offcanvas-header {
  background-color: rgba(0, 0, 0, 0.679);
  color: white;
}
