* {
  margin: 0;
}
button {
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  font-size: 1.1em;
  /* 10% bigger than normal */
}

#nav {
  display: flex;
  position: relative;
  /* box-shadow: 0 0 20px rgb(255, 0, 0); */
  height: auto;
  transform-origin: center;
  /* Make effect work from center outward */
  transition: all 0.5s;
  /* Make changes to all CSS happen over 1 second */
  padding-inline: 20px;
  background-color: #222222;
}

#nav a {
  transition: 200ms;
  color: #ddd;
  font-size: 1.25rem;
}

#nav a:hover {
  color: #fff;
}

.menu-item {
  display: block;
  /* Each item on its own line */
  text-decoration: none;
  /* no underline on the links */
  padding-inline: 1rem;
  padding-block: 30px;
  font-family: Arial;
}

.menu-item:hover {
  background-color: #444;
}

html,
body {
  /* height: 100%; */
  background-color: rgb(20, 186, 186);
}

main {
  height: 100%;
}

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  border-bottom: 1px solid rgb(87, 87, 87);
}

.beer img {
  height: 100px;
  object-fit: contain;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding: 1rem;
}

.beer {
  border: 1px solid black;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.load-more {
  margin-left: 1rem;
}

.beer:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgb(18, 206, 206);
}
.beer img:hover {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}
button {
  background-color: rgba(0, 0, 0, 0.781);
  color: rgb(18, 206, 206);
  margin-top: 8px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}
button:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  background-color: black;
}
